<div class="row">
    <div class="col-sm">
        <h4>Cards</h4>
    </div>
    <div class="col-sm">
        <a routerLink="add" class="btn btn-sm btn-success mb-2 float-right" translate>cards.add-button</a>
    </div>
</div>

<div class="row">
    <div class="col-sm">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col" sortable="id" (sort)="onSort($event)" style="width: 20%">ID</th>
                    <th scope="col" style="width: 50%">Image Path</th>
                    <th scope="col" sortable="createdAt" (sort)="onSort($event)" style="width: 20%">Created At</th>
                    <th scope="col" style="width: 10%"></th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngIf="service.loading$ | async; else view">
                    <tr>
                        <td colspan="4" style="text-align:center;">
                            <app-loading></app-loading>
                        </td>
                    </tr>
                </ng-container>
                <ng-template #view>
                    <tr *ngFor="let card of cards$ | async">
                        <th scope="row">{{ card.id }}</th>
                        <td><img [src]="sanitize(card.imagePath)" class="img-fluid img-thumbnail"></td>
                        <td>{{ card.createdAt | utcToDateFormat }}</td>
                        <td style="white-space: nowrap">
                            <a routerLink="edit/{{card.id}}" class="btn btn-sm btn-primary mr-1">Edit</a>
                            <button (click)="deleteCard(card.id)" class="btn btn-sm btn-danger"
                                [disabled]="card.isDeleting">
                                <span *ngIf="card.isDeleting" class="spinner-border spinner-border-sm"></span>
                                <span *ngIf="!card.isDeleting">Delete</span>
                            </button>
                        </td>
                    </tr>
                    <tr *ngIf="!(cards$ | async)?.length">
                        <td colspan="4" style="text-align:center;">No data</td>
                    </tr>
                </ng-template>
            </tbody>
        </table>

        <div class="d-flex justify-content-between p-2">
            <ngb-pagination [collectionSize]="(total$ | async)!" [(page)]="service.page" [pageSize]="service.pageSize">
            </ngb-pagination>

            <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
                <option [ngValue]="2">2 items per page</option>
                <option [ngValue]="4">4 items per page</option>
                <option [ngValue]="6">6 items per page</option>
            </select>
        </div>
    </div>
</div>